<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->
 <!-- Navbar Start -->
 <header>
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
        <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h1 class="m-0 text-primary"><i class="far fa-hospital me-3"></i>Care Clinick</h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="/about" class="nav-item nav-link">About</a>
                <a href="/appointlists" class="nav-item nav-link">Your Appointments</a>
            </div>
            
                    <!-- <div class="nav-item dropdown">
                      <img
                        src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                        class="rounded-circle justify-content-center"
                        height="25"
                        alt=""
                        loading="lazy"
                      />
                      <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                          <a href="" class="dropdown-item">Your Profile</a>
                          <a href="/logout" class="dropdown-item">Logout</a>
                      </div>
                  </div> -->
                  </div>
                </div>
        </div>
    </nav>
    </header>
 <!-- Appointment Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="d-inline-block border rounded-pill py-1 px-4 text-dark">Contact Us</p>
                    <h1 class="mb-4">Get In Touch With Us</h1>
                    <div class="bg-light rounded d-flex align-items-center p-5 mb-4">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                            <i class="fa fa-phone-alt text-primary"></i>
                        </div>
                        <div class="ms-4">
                            <p class="mb-2">Call Us Now</p>
                            <h5 class="mb-0">+012 345 6789</h5>
                        </div>
                    </div>
                    <div class="bg-light rounded d-flex align-items-center p-5">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                            <i class="fa fa-envelope-open text-primary"></i>
                        </div>
                        <div class="ms-4">
                            <p class="mb-2">Mail Us Now</p>
                            <h5 class="mb-0">CareClinick@gmail.com</h5>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="bg-light rounded h-100 d-flex align-items-center p-5">
                        <form action="/contactus" method="post" id="frm" onsubmit="submitfrm()">
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control border-0" placeholder="Your Name"  name="name"  style="height: 55px;" required>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="email" class="form-control border-0" placeholder="Your Email" name="email" style="height: 55px;" required>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="number" class="form-control border-0" placeholder="Phone number" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"  name="ph" style="height: 55px;" required>
                                    <span class="validity"></span>
                                    <style>
                                        input + span {
                                        padding-right: 30px;
                                        }
                                        input:invalid + span::after {
                                        position: absolute;
                                        content: "×";
                                        padding-left: 5px;
                                        color: #8b0000;
                                        }

                                        input:valid + span::after {
                                        position: absolute;
                                        content: "✓";
                                        padding-left: 5px;
                                        color: #009000;
                                        }
                                    </style>
                                </div>
                                <div class="col-12">
                                    <textarea class="form-control border-0" rows="5" placeholder="Your Address" name="Address" required></textarea>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Contact</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="border-color: black;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3914.4726666763904!2d75.88980567398649!3d11.152596852144669!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba6502f41ef4e8b%3A0xf4c653a7548cccd!2sKinfra%20Techno%20Industrial%20Park!5e0!3m2!1sen!2sin!4v1675507268607!5m2!1sen!2sin" width="1100" height="500" 
        style="border: 0;" allowfullscreen aria-hidden="false" tabindex="0" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <%- include('../partials/footer.ejs') %>
    <!-- Appointment End -->