<!-- Scrollable modal -->
<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="card-text-black" style="border-radius: 25px; background: white;">
        <div class="card-body p-md-5">
          <div class="row justify-content-center">
            <div class="col-md-8 col-lg-7 col-xl-6">
              <img
                src="https://png.pngtree.com/element_our/20200610/ourlarge/pngtree-online-doctor-consultation-image_2248276.jpg"
                class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">

              <h1 class="m-0 text-primary text-center"><i class="far fa-hospital me-3"></i>Care Clinic</h1>
              <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign In</p>

              <form action="<%-base_url %>/login" method="post">
                <% if(error){ %>
                  <p class="text-danger">Invalid Email and Password</p>
                  <% }else{ %>
                    <p></p>
                    <% } %>
                      <!-- Email input -->
                      <div class="form-outline mb-4">
                        <input type="email" id="email" class="form-control form-control-lg" name="email"
                          placeholder="Your email" required />
                      </div>

                      <!-- Password input -->
                      <div class="form-outline mb-4">
                        <input type="password" id="password" class="form-control form-control-lg" name="password"
                          placeholder="password" required />
                      </div>

                      <div class="d-flex justify-content-around align-items-center mb-4">
                        <!-- Checkbox -->
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                          <label class="form-check-label" for="form1Example3"> Remember me </label>
                        </div>
                        <a href="/forgetpassword">Forgot password?</a><br>
                        <a href="/signup">Create new Account</a>
                      </div>


                      <!-- Submit button -->
                      <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>